<!DOCTYPE HTML>
<head>
    <title>Sweeter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h2>Hello, user!</h2>
    <a href="/main">Главная</a>

</body>
</html>
