<!DOCTYPE HTML>
<html>
<head>
    <title>Sweeter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="submit" value="Sign Out"/>
</form>

    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Text"/>
            <input type="text" name="tag" placeholder="#tag"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Add</button>
        </form>
    </div>
    <div>
        <form method="post" action="filter">
            <input type="text" name="filter" placeholder="Text"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Find</button>
        </form>
    </div>
    <div> Messages !</div>
        {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
            <strong>{{authorName}}</strong>

        </div>
        {{/messages}}
</body>
</html>
